:root {
    --seaGreen: #32caa4;
  }
  body {
    margin: 0;
    padding: 0;
    color: var(--seaGreen);
    font-family: sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  
  h1 {
    font-size: 54px;
    text-transform: uppercase;
  }
  
  .container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
  }
  
  #gameboard {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 450px;
  }
  
  .box {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    color: var(--seaGreen);
  }
  
  .box:hover {
    cursor: pointer;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--seaGreen);
    color: white;
    border-color: var(--seaGreen);
    font-size: 18px;
    transition: 200ms transform;
  }
  
  button:hover {
    cursor: pointer;
    transform: translateY(-4px);
  }
  .O{
    font-size: 3rem;
     position:absolute;
     top:50%;
     left:10%;

  }
  .X{
    font-size:3rem;
    position: absolute;
    top:50%;
    left:75%;
  }
  